html,body{
  hight: 100%;    /*高さを100％に設定*/
}

body{
  width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.wrap {
  margin: 0;
  padding: 0;
  positiion: relative;
  min-width: 600px;   /*中央配置するボックスの横幅*/
  min-height: 400px;  /*中央配置するボックスの縦幅*/
}

  a{
  text-decoration: none;
}

table {
  margin: -200px 0 0 -530px;  /*縦横半分をネガティブマージンでずらす*/
  position: absolute;     /*body要素に対して絶対配置*/
  top: 50%;       /*上端を中央に*/
  left: 50%;      /*左端を中央に*/
  width: 600px;   /*横幅*/
  height: 400px;  /*縦幅*/
}
table td {
  text-align: center;
  color: white;
  font-size: 20px;
  opacity: 0;
}
table td img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(172,53,130,0.2),
              0px 0px 0px 35px rgba(123,50,196,0.2);
}
#video-background,
#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 130%;
  width: auto;
  height: auto;
}
#video-background {
  z-index: -2;
}
#video-overlay {
  z-index: -1;
}
#firstcontent {
  background-image: linear-gradient(-90deg, #4D00FF, #EE2E11);
}
#keyaki-logo{
  color: white;
  z-index: -1;
  font-size: 98px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#techi-co{
  z-index: -1;
  font-size: 118px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Nico Moji";
}
h1 {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  font-size: 70px;
  font-family: Arial;
}
p {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    font-weight: bold;
    font-family: Arial;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

.click-button {
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  -webkit-animation: click 1.5s infinite;
}
.click-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes click {
  0% {
    @include transform(scale(.9));
  }
  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
